{% extends 'chat/base.html' %}
{% load static %}
{% block chat %}
<div class="content">
    <div class="content-title">
        <div class="avatar-receiver">
            <img src="https://scontent.fhan2-5.fna.fbcdn.net/v/t39.30808-1/412989840_666942802277459_8721989347696234913_n.jpg?stp=dst-jpg_s100x100&_nc_cat=106&ccb=1-7&_nc_sid=0ecb9b&_nc_eui2=AeGnjhZ9rjFnulbjyOkEMYqigGoh4EjkFSSAaiHgSOQVJB6MaV-RFhqOr54XUFZD4iEP0P2ORsX6296E_8NJ084F&_nc_ohc=WAv7P6O3EW4Q7kNvgHQbJ2j&_nc_ad=z-m&_nc_cid=0&_nc_ht=scontent.fhan2-5.fna&oh=00_AYCGf6Wqo7gwA_woAteiu1GwlhCCKGB4uwvCkhVhLO5Rmg&oe=66DCFF4B"
                alt="avatar" />
        </div>
        <div class="info">
            <div class="name-receiver">
                Em Mùi
            </div>
        </div>
    </div>
    <div class="messenger-container">
        <div class="list-messenger-container">
            <div class="list-messenger">
                <div class="messenger-item">
                    <div class="avatar-messenger">
                        <img src="https://scontent.fhan2-5.fna.fbcdn.net/v/t39.30808-1/412989840_666942802277459_8721989347696234913_n.jpg?stp=dst-jpg_s100x100&_nc_cat=106&ccb=1-7&_nc_sid=0ecb9b&_nc_eui2=AeGnjhZ9rjFnulbjyOkEMYqigGoh4EjkFSSAaiHgSOQVJB6MaV-RFhqOr54XUFZD4iEP0P2ORsX6296E_8NJ084F&_nc_ohc=WAv7P6O3EW4Q7kNvgHQbJ2j&_nc_ad=z-m&_nc_cid=0&_nc_ht=scontent.fhan2-5.fna&oh=00_AYCGf6Wqo7gwA_woAteiu1GwlhCCKGB4uwvCkhVhLO5Rmg&oe=66DCFF4B"
                            alt="avatar">
                    </div>
                    <div class="content-mess">
                        mmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmm
                    </div>
                </div>
                <div class="messenger-item sender">
                    <div class="content-mess">
                        May gio ve de con biet thoi com
                    </div>
                </div>
                <div class="messenger-item">
                    <div class="avatar-messenger">
                        <img src="https://scontent.fhan2-5.fna.fbcdn.net/v/t39.30808-1/412989840_666942802277459_8721989347696234913_n.jpg?stp=dst-jpg_s100x100&_nc_cat=106&ccb=1-7&_nc_sid=0ecb9b&_nc_eui2=AeGnjhZ9rjFnulbjyOkEMYqigGoh4EjkFSSAaiHgSOQVJB6MaV-RFhqOr54XUFZD4iEP0P2ORsX6296E_8NJ084F&_nc_ohc=WAv7P6O3EW4Q7kNvgHQbJ2j&_nc_ad=z-m&_nc_cid=0&_nc_ht=scontent.fhan2-5.fna&oh=00_AYCGf6Wqo7gwA_woAteiu1GwlhCCKGB4uwvCkhVhLO5Rmg&oe=66DCFF4B"
                            alt="avatar">
                    </div>
                    <div class="content-mess">
                        mmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmm
                    </div>
                </div>
                <div class="messenger-item sender">
                    <div class="content-mess">
                        May gio ve de con biet thoi com
                    </div>
                </div>
                <div class="messenger-item">
                    <div class="avatar-messenger">
                        <img src="https://scontent.fhan2-5.fna.fbcdn.net/v/t39.30808-1/412989840_666942802277459_8721989347696234913_n.jpg?stp=dst-jpg_s100x100&_nc_cat=106&ccb=1-7&_nc_sid=0ecb9b&_nc_eui2=AeGnjhZ9rjFnulbjyOkEMYqigGoh4EjkFSSAaiHgSOQVJB6MaV-RFhqOr54XUFZD4iEP0P2ORsX6296E_8NJ084F&_nc_ohc=WAv7P6O3EW4Q7kNvgHQbJ2j&_nc_ad=z-m&_nc_cid=0&_nc_ht=scontent.fhan2-5.fna&oh=00_AYCGf6Wqo7gwA_woAteiu1GwlhCCKGB4uwvCkhVhLO5Rmg&oe=66DCFF4B"
                            alt="avatar">
                    </div>
                    <div class="content-mess">
                        mmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmm
                    </div>
                </div>
                <div class="messenger-item sender">
                    <div class="content-mess">
                        May gio ve de con biet thoi com
                    </div>
                </div>
                <div class="messenger-item">
                    <div class="avatar-messenger">
                        <img src="https://scontent.fhan2-5.fna.fbcdn.net/v/t39.30808-1/412989840_666942802277459_8721989347696234913_n.jpg?stp=dst-jpg_s100x100&_nc_cat=106&ccb=1-7&_nc_sid=0ecb9b&_nc_eui2=AeGnjhZ9rjFnulbjyOkEMYqigGoh4EjkFSSAaiHgSOQVJB6MaV-RFhqOr54XUFZD4iEP0P2ORsX6296E_8NJ084F&_nc_ohc=WAv7P6O3EW4Q7kNvgHQbJ2j&_nc_ad=z-m&_nc_cid=0&_nc_ht=scontent.fhan2-5.fna&oh=00_AYCGf6Wqo7gwA_woAteiu1GwlhCCKGB4uwvCkhVhLO5Rmg&oe=66DCFF4B"
                            alt="avatar">
                    </div>
                    <div class="content-mess">
                        mmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmm
                    </div>
                </div>
                <div class="messenger-item sender">
                    <div class="content-mess">
                        May gio ve de con biet thoi com
                    </div>
                </div>
                <div class="messenger-item">
                    <div class="avatar-messenger">
                        <img src="https://scontent.fhan2-5.fna.fbcdn.net/v/t39.30808-1/412989840_666942802277459_8721989347696234913_n.jpg?stp=dst-jpg_s100x100&_nc_cat=106&ccb=1-7&_nc_sid=0ecb9b&_nc_eui2=AeGnjhZ9rjFnulbjyOkEMYqigGoh4EjkFSSAaiHgSOQVJB6MaV-RFhqOr54XUFZD4iEP0P2ORsX6296E_8NJ084F&_nc_ohc=WAv7P6O3EW4Q7kNvgHQbJ2j&_nc_ad=z-m&_nc_cid=0&_nc_ht=scontent.fhan2-5.fna&oh=00_AYCGf6Wqo7gwA_woAteiu1GwlhCCKGB4uwvCkhVhLO5Rmg&oe=66DCFF4B"
                            alt="avatar">
                    </div>
                    <div class="content-mess">
                        mmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmm
                    </div>
                </div>
                <div class="messenger-item sender">
                    <div class="content-mess">
                        May gio ve de con biet thoi com
                    </div>
                </div>
            </div>
        </div>
        <div class="box-sender-mess">
            <textarea placeholder="Aa" class="input-mess" rows="2"></textarea>
            <div class="box-sender">
                <div class="icon-sender">
                    <i class="fa-solid fa-paper-plane"></i>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock chat %}