* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* overflow: hidden; */
    font-size: 16px;
}

html *::-webkit-scrollbar {
    border-radius: 0;
    width: 8px;
}

html *::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(29, 29, 31, 0.2);
}

html ::-webkit-scrollbar-track {
    border-radius: 0px;
    background-color: rgba(0, 0, 0, 0);
}

.shadow {
    box-shadow: 0 0 10px #aaa;
}

.hidden {
    display: none;
}

button {
    outline: none;
    border: none;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.line {
    width: 100%;
    height: 1px;
    background-color: black;
}

.container {
    max-width: 600px;
    padding: 10px 0 20px;
    margin: auto;
}

.create-post {
    width: 100%;
    background-color: white;
    box-shadow: 0 0 10px #aaa;
    padding: 10px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    gap: 8px;
    margin: auto;
}

.avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;
}

.show-model-create-post {
    flex: 1;
    background-color: #9e9e9e;
    height: 40px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.show-model-create-post:hover {
    background-color: #e2dfdf;
}

.model-overlay {
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.2);
    position: fixed;
    left: 0;
    top: 0;
    min-height: 100vh;
    overflow-y: auto;
}

.form-create-post {
    width: 600px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    border-radius: 8px;
    overflow: hidden;
}

.header-model {
    display: flex;
    align-items: center;
    text-align: center;
    padding: 10px 20px;
}

.header-model-title {
    margin: auto;
    font-weight: 500;
    font-size: 20px;
}

.btn-close-model,
.btn-close-comment {
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #cccaca;
    border-radius: 50%;
    cursor: pointer;
}

.btn-close-model:hover {
    background-color: #aaa;
}

.form-container {
    width: 100%;
    padding: 10px;
}

.btn-submit {
    width: 100%;
    padding: 8px;
    font-weight: bold;
    background: rgb(0, 174, 255);
    color: white;
    border-radius: 8px;
    cursor: pointer;
}

.btn-submit:hover {
    background-color: rgb(3, 149, 216);
}

.user-creator {
    display: flex;
    gap: 10px;
    align-items: center;
}

.name-user {
    font-weight: bold;
}

.form-container-content {
    width: 100%;
    margin-top: 10px;
    min-height: 200px;
    max-height: 600px;
    overflow-y: auto;
}

.label-audio-files {
    /* width: 100%;
    height: auto;
    padding: 10px; */
}

.label-content {
    width: 100%;
    height: 200px;
    border-radius: 5px;
    border: 1px solid #aaa;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #d8d8d8;
    cursor: pointer;
}

.label-content:hover {
    background-color: #c9c8c8;
}

.label-content p {
    color: #8b8b8b;
    font-weight: bold;
}

.label-content .item .fa-file-audio {
    color: #616161;
    font-weight: bold;
}

.form-container-content-files {
    position: relative;
    border: 1px solid black;
    margin-top: 10px;
    border-radius: 8px;
    padding: 10px;
}

.container-content {
    min-height: 200px;
}

.btn-add-audio {
    position: absolute;
    top: 10px;
    left: 10px;
    padding: 8px 12px;
    background-color: white;
    box-shadow: 0 0 5px #aaa;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
    visibility: hidden;
}

.form-container-content-files:hover .btn-add-audio {
    visibility: visible;
}

.btn-close-label-files {
    width: 20px;
    height: 20px;
    position: absolute;
    top: 20px;
    right: 20px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    cursor: pointer;
}

.btn-close-label-files:hover {
    background-color: rgb(139, 139, 139);
    color: white;
}

.post-content {
    width: 100%;
    field-sizing: content;
    resize: none;
    outline: none;
    border: none;
    font-size: 16px;
}

.options-post {
    width: 100%;
    margin: 10px 0px;
    padding: 5px 10px;
    border-radius: 15px;
    border: 1px solid black;
    display: flex;
    align-items: center;
    gap: 20px;
}

.options-item {
    display: flex;
    align-items: center;
    gap: 10px;
}

.item {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.item:hover {
    background-color: #e2e1e1;
}

.fa-file-audio {
    color: rgb(32, 179, 2);
    font-size: 20px;
}

.fa-link {
    color: rgb(179, 2, 2);
    font-size: 20px;
}

.open-label-files {
    position: relative;
}

.open-label-files::after {
    position: absolute;
    content: 'audios';
    padding: 2px 10px;
    border-radius: 11px;
    background-color: rgba(0, 0, 0, 0.3);
    color: white;
    font-weight: bold;
    top: 0;
    transform: translateY(-130%);
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.3s ease, visibility 0s linear 0.3s;
}

.open-label-files:hover::after {
    visibility: visible;
    opacity: 1;
    transition-delay: 0s;
}

.open-label-links {
    position: relative;
}

.open-label-links::after {
    position: absolute;
    content: 'links';
    padding: 2px 10px;
    border-radius: 11px;
    background-color: rgba(0, 0, 0, 0.3);
    color: white;
    font-weight: bold;
    top: 0;
    transform: translateY(-130%);
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.3s ease, visibility 0s linear 0.3s;
}

.open-label-links:hover::after {
    visibility: visible;
    opacity: 1;
    transition-delay: 0s;
}

.main-container {
    max-width: 600px;
    margin: 10px auto;
    display: grid;
    gap: 10px;
}

.post {
    overflow: hidden;
    width: 100%;
    background-color: white;
    padding: 10px;
    border-radius: 10px;
}

.header-post {
    display: flex;
    align-items: center;
    gap: 10px;
}

.author-name {
    font-weight: bold;
}

.time-created {
    font-size: 12px;
    color: #616161;
}

.content-post {
    margin-top: 20px;
    width: 100%;
    overflow: hidden;
}

.content {
    width: 100%;
    word-break: break-all;
}

.card {
    width: 100%;
    background-color: #fff;
    border-radius: 10px;
    display: flex;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    padding: 20px;
}

.card__img {
    width: 250px;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.card__img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.card__info {
    flex: 1;
    padding-left: 25px;
}

.card__info h2 {
    height: 40px;
    margin-bottom: 5px;
}

.card__info p {
    margin-bottom: 20px;
    height: 30px;
}

.card__info button {
    outline: none;
    border: none;
    background-color: #000;
    color: white;
    min-width: 100px;
    height: 40px;
    border-radius: 10px;
}

.loading {
    position: relative;
    background-color: #b8b8b8 !important;
    overflow: hidden;
    border-radius: 10px;
}

.loading::after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    transform: translateX(-100%);
    background-image: linear-gradient(to right,
            rgba(255, 255, 255, 0.5),
            transparent);
    animation: loading 1s infinite;
}

@keyframes loading {
    100% {
        transform: translateX(100%);
    }
}

.comment-post {
    display: flex;
    justify-content: end;
    margin-top: 10px;
}

.btn-show-comment {
    color: #7a7a7a;
    font-size: 18px;
}

.btn-show-comment:hover {
    text-decoration: underline;
    cursor: pointer;
}

.model-comment-post-container {
    width: 680px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    border-radius: 8px;
    overflow: hidden;
}

.comment-post-container {
    max-height: 80vh;
    overflow-y: auto;
}

.list-comment {
    width: 100%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    min-height: 600px;
}

.comment-item {
    display: flex;
    width: 100%;
    gap: 10px;
}

.username-comment {
    font-weight: bold;
    margin-bottom: 5px;
}

.comment-data{
    max-width: 80%;
}

.content-comment-box {
    background-color: #f1f1f1;
    padding: 8px 10px;
    border-radius: 10px;
}

.comment-content{
    max-width: 100%;
    overflow: hidden;
    overflow-wrap: break-word;
}

.box-sender-comment {
    width: calc(100% - 8px);
    position: absolute;
    background-color: white;
    box-shadow: 0 -1px 2px #aaa;
    left: 0;
    bottom: 0;
    display: flex;
    gap: 10px;
    padding: 10px;
}

.box-comment {
    flex: 1;
    background-color: #d8d8d8;
    padding: 5px 10px;
    gap: 10px;
    overflow: hidden;
}

.input-comment {
    width: 100%;
    field-sizing: content;
    resize: none;
    outline: none;
    border: none;
    font-size: 16px;
    background-color: transparent;
    word-break: break-all;
    max-height: 200px;
    overflow-y: overlay;
}

.box-sender {
    width: 100%;
    text-align: end;
}

.icon-sender{
    cursor: pointer;
}