* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.line {
    width: 100%;
    height: 1px;
    background-color: #6d6d6d;
}

.notify {
    width: 100%;
    text-align: center;
}

.test {
    min-height: 1000px;
}

.hidden {
    display: none;
}

.opacity {
    visibility: hidden;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.container-chat {
    height: calc(100vh - 70px);
    overflow: hidden;
}

.sider-bar {
    width: 360px;
    height: calc(100vh - 70px);
    position: fixed;
    left: 0;
    top: 70px;
    background-color: white;
    box-shadow: 0 0 2px black;
    padding: 10px;
}

.box-search {
    display: flex;
    align-items: center;
    gap: 5px;
}

.icon-back {
    height: 10px;
    font-size: 20px;
    cursor: pointer;
    color: #aaa;
}

.search-user {
    margin-top: 10px;
    background-color: #f0f2f5;
    height: 36px;
    width: 100%;
    border-radius: 36px;
    display: flex;
    align-items: center;
    padding: 10px;
    position: relative;
}

.search-user-input {
    background-color: transparent;
    font-size: 16px;
    outline: none;
    border: none;
    margin: 0 9px;
    flex: 1;
    transition: all 0.25s;
}

.search-result {
    position: absolute;
    width: 360px;
    max-height: calc(100vh - 20px - 10px - 73px);
    height: calc(100vh - 20px - 10px - 73px);
    background-color: white;
    left: -35px;
    bottom: 0;
    transform: translateY(calc(100% + 10px));
    z-index: 10;
}

.result-item {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    cursor: pointer;
    gap: 10px;
}

.result-item:hover {
    background-color: #e4e4e4;
}


.list-room {
    width: 100%;
    margin-top: 10px;
    max-height: calc(100vh - 20px - 10px - 73px - 180px);
    overflow-y: auto;
}

.room{
    position: relative;
}

.room,
.friend-request {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    cursor: pointer;
    gap: 10px;
}

.room:hover,
.friend-request:hover {
    background-color: #e4e4e4;
}

.room.active {
    background-color: #ebf5ff;
}

.deleteRoomChat{
    position: absolute;
    top: 1/2;
    right: -10px;
    padding: 5px 10px;
    background-color: #aaa;
    transform: translateX(-50%);
    border-radius: 8px;
    border: none;
    outline: none;
    cursor: pointer;
    font-weight: bold;
    z-index: 10;
}

.deleteRoomChat:hover{
    background-color: red;
    color: white;
}

.avatar-receiver,
.avatar {
    position: relative;
    width: 50px;
    height: 50px;
}

.avatar-receiver img,
.avatar img {
    border-radius: 50%;
}

.avatar-receiver i,
.avatar i {
    position: absolute;
    bottom: 0;
    transform: translate(-15px, 0);
    font-size: 10px;
    color: #6d6d6d;
}

.avatar-receiver i.online,
.avatar i.online {
    color: rgb(4, 196, 4);
}

.avatar-receiver i.hidden::before,
.avatar i.hidden::before {
    display: none;
}

.info {
    max-width: 60%;
    overflow: hidden;
}

.icon-friend {
    display: flex;
    align-items: center;
    gap: 5px;
}

.icon-friend.hidden{
    display: none;
}

#icon {
    display: inline-block;
    width: 80px;
    position: relative;
    margin-top: 10px;
    font-size: 12px;
    padding: 3px 5px;
    box-shadow: 1px 1px 3px 1px #aaa;
    border: 1px solid transparent;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.25s;
}

#refuse-icon {
    display: inline-block;
    margin-top: 10px;
    font-size: 12px;
    padding: 3px 5px;
    box-shadow: 1px 1px 3px 1px #aaa;
    border: 1px solid transparent;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.25s;
}


#icon:active,
.fa-xmark:active {
    border: 1px solid #aaa;
    box-shadow: none;
    transform: translate(1px, 0px);
}

.add-new-friend::after {
    position: absolute;
    content: 'Thêm bạn bè';
    white-space: nowrap;
    padding: 2px 10px;
    border-radius: 11px;
    background-color: rgba(0, 0, 0, 0.3);
    color: white;
    font-weight: bold;
    top: 0;
    transform: translateY(130%);
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.3s ease, visibility 0s linear 0.3s;
}

.add-new-friend:hover::after {
    visibility: visible;
    opacity: 1;
    transition-delay: 0s;
}

.name-receiver,
.name-room {
    font-weight: bold;
}

.name-receiver{
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
}

.mess-new {
    font-size: 12px;
    color: #6d6d6d;
    margin-top: 2px;
    display: flex;
    gap: 4px;
    width: 100%;
    overflow: hidden;
}

.content-new-mess {
    width: 200px;
    overflow: hidden;
    overflow-wrap: break-word;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}

.room-chat {
    height: calc(100vh -70px);
    max-height: calc(100vh -70px);
    width: calc(100vw - 360px);
    margin-left: 360px;
    position: relative;
    border-left: 1px solid #aaa;
}

.notify {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: 40px;
}

.notify.hidden {
    display: none;
}

.content {
    width: 100%;
    background-color: white;
}

.content-title {
    display: flex;
    gap: 10px;
    align-items: center;
    box-shadow: 0 1px 2px rgb(146, 146, 146);
    padding: 10px;
}
 .content-title .info{
    overflow:unset;
 }
.messenger-container {
    height: calc(100vh - 70px - 70px);
    display: flex;
    flex-direction: column;
    justify-content: end;
}


.list-messenger-container {
    padding: 20px 10px 20px 10px;
    max-height: calc(100vh - 70px - 53px - 70px);
    overflow-y: auto;
}

.list-messenger {
    display: flex;
    flex-direction: column;
    justify-content: end;
    gap: 10px;
}

.messenger-item {
    width: 100%;
    overflow: hidden;
    display: flex;
    align-items: end;
    gap: 10px;
}

.avatar-messenger {
    width: 30px;
    height: 30px;
    overflow: hidden;
    border-radius: 50%;
}

.content-mess {
    max-width: 100%;
    background-color: #e4e4e4;
    overflow-wrap: break-word;
    padding: 8px 15px;
    border-radius: 18px;
    font-size: 18px;
}

.messenger-item.sender {
    justify-content: end;
}

.messenger-item.sender .content-mess {
    background-color: #0084ff;
    color: white;
}

.box-sender-mess {
    background-color: white;
    box-shadow: 0 -1px 2px rgb(146, 146, 146);
    padding: 10px;
    gap: 10px;
    display: flex;
    align-items: end;
}

.input-mess {
    padding: 7px 14px;
    border-radius: 16px;
    width: 100%;
    background-color: #d8d8d8;
    field-sizing: content;
    resize: none;
    outline: none;
    border: none;
    font-size: 16px;
    word-break: break-all;
    max-height: 200px;
    overflow-y: overlay;
}

.box-sender {
    padding-bottom: 10px;
    text-align: end;
}

.icon-sender {
    cursor: pointer;
}

.icon-file-audio {
    position: relative;
    display: inline-block;
    padding-bottom: 10px;
    cursor: pointer;
}

.icon-file-audio::after {
    position: absolute;
    content: 'audio';
    text-align: center;
    padding: 5px;
    left: 50%;
    border-radius: 10px;
    transform: translate(-35%, -130%);
    background-color: rgba(0, 0, 0, 0.4);
    font-weight: bold;
    color: white;
    z-index: 10;
    visibility: hidden;
    opacity: 0;
}

.icon-file-audio:hover::after {
    visibility: visible;
    opacity: 1;
    transition-delay: 0s;
}

.container-content {
    width: 100%;
}

.file-audio {
    position: relative;
    margin-bottom: 10px;
    display: none;
    align-items: center;
    gap: 10px;
    padding: 10px;
    background-color: #dddddd;
    border-radius: 10px;
}

.icon-file {
    padding: 10px 12px;
    border-radius: 10px;
    background-color: blue;
    color: white;
}

.icon-delete-file {
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #aaa;
    border-radius: 50%;
    position: absolute;
    right: 0;
    top: 0;
    transform: translate(30%, -30%);
    background-color: white;
    visibility: hidden;
    cursor: pointer;
}

.file-audio:hover .icon-delete-file {
    visibility: visible;
}

.container-mess {
    width: 100%;
    max-width: min(600px, 60%);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 10px;
}

.container-mess.sender {
    align-items: end;
}

.options {
    display: flex;
    align-items: center;
    gap: 10px;
}

.options-item {
    margin-top: 10px;
    display: inline-block;
    padding: 10px;
    background-color: #dddddd;
    font-weight: bold;
    border-radius: 8px;
    cursor: pointer;
}

.options-item.active {
    background-color: #4aa4f8;
    color: white;
}

.description {
    margin-top: 10px;
}

.description p {
    color: #949494;
}

.friend-request {
    align-items: start;
}

.friend-request .info {
    flex: 1;
}

.accept-request,
.refuse-request {
    padding: 10px 20px;
    font-weight: bold;
    border-radius: 10px;
    border: none;
    outline: none;
    cursor: pointer;
}

.accept-request {
    background-color: #0084ff;
    color: white;
    margin-right: 10px;
}

.user {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 10px #aaa;
    font-size: 20px;
    padding: 20px 30px;
    border-radius: 10px;
    width: 300px;
}

.user-info {
    display: flex;
    align-items: center;
    gap: 10px;
}

.user .options {
    margin-top: 10px;
}

.user .options button {
    padding: 10px;
    outline: none;
    border: none;
    border-radius: 9px;
    cursor: pointer;
}

.go-back {
    position: absolute;
    left: 10px;
    top: 10px;
    cursor: pointer;
}

.open-label-emoji {
    position: relative;
    padding-bottom: 10px;
    cursor: pointer;
}

.open-label-emoji::after {
    position: absolute;
    content: 'emoji';
    padding: 2px 10px;
    border-radius: 11px;
    background-color: rgba(0, 0, 0, 0.3);
    color: white;
    font-weight: bold;
    top: 0;
    left: 1/2;
    transform: translate(-50%, -130%);
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.3s ease, visibility 0s linear 0.3s;
}

.open-label-emoji:hover::after {
    visibility: visible;
    opacity: 1;
    transition-delay: 0s;
}

.notify-login {
    position: absolute;
    left: 0;
    top: 70px;
    width: 100%;
    height: calc(100vh - 60px);
    background-color: wheat;
    display: flex;
    align-items: center;
    justify-content: center;
}

.notify-login.hidden {
    display: none;
}

.notify-login-container {
    width: 500px;
    height: 300px;
    background-color: white;
    box-shadow: 0 0 10px #aaa;
    padding: 10px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    animation: animation 0.4s;
}


.notify-login-text {
    font-size: 26px;
    text-align: center;
    margin-bottom: 30px;
}

.notify-login-option {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.back-home,
.back-login {
    padding: 10px;
    background-color: #6d6d6d;
    border-radius: 10px;
    color: white;
}

.back-login {
    background-color: #0084ff;
}

@keyframes animation {
    0% {
        transform: scale(0);
    }

    80% {
        transform: scale(1.2);
    }

    100% {
        transform: scale(1);
    }
}

.friend {
    position: relative;
    display: flex;
    padding: 10px;
    align-items: center;
    font-weight: bold;
    gap: 10px;
    background-color: #ebebeb;
    border-radius: 10px;
    cursor: pointer;
    margin-bottom: 10px;
}

.friend:hover {
    background-color: #ebf5ff;
}

.delete-friend-btn {
    position: absolute;
    background-color: #d8d8d8;
    padding: 5px 10px;
    font-size: 13px;
    border-radius: 5px;
    top: 1/2;
    right: 10px;
    transform: translateX(-50%);
}

.delete-friend-btn:hover {
    background-color: rgb(253, 46, 46);
    color: white;
}

.title-chat {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.create-room-chat-btn {
    padding: 5px 10px;
    background-color: #0084ff;
    color: white;
    font-weight: bold;
    border-radius: 10px;
    cursor: pointer;
}

.model-overlay {
    position: fixed;
    top: 70px;
    left: 0;
    width: 100vw;
    height: calc(100vh - 70px);
    background-color: rgba(255, 255, 255, 0.4);
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-create-room-chat {
    position: relative;
    background-color: white;
    box-shadow: 0 0 10px #aaa;
    border-radius: 10px;
    width: 500px;
}

.form-create-room-chat-title {
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    padding: 10px;
}

.form-create-room-chat {
    max-height: 70vh;
    overflow-y: auto;
}

.form-create-room-chat-container.hidden {
    display: none;
}

.close-form-create-chat {
    position: absolute;
    top: 5px;
    right: 5px;
    width: 40px;
    height: 40px;
    background-color: #dddddd;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    font-size: 18px;
    cursor: pointer;
}

.list-friend {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.friend-item {
    display: flex;
    align-items: center;
    gap: 10px;
}

.form-create-room-chat-content {
    padding: 10px;
}

label.friend {
    flex: 1;
    padding: 5px 10px;
}

.type-room-option {
    margin-bottom: 10px;
}

.type-room-option label {
    font-weight: bold;
    font-size: 19px;
}

.type-room-option select {
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ccc;
    background-color: #f9f9f9;
    color: #333;
    transition: border-color 0.3s ease;
    outline: none;
    width: 100%;
    /* Độ rộng chiếm toàn bộ */
}

.type-room-option select:hover {
    border-color: #007bff;
    /* Màu viền khi hover */
}

.type-room-option select:focus {
    border-color: #007bff;
    /* Màu viền khi focus */
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
    /* Hiệu ứng đổ bóng khi focus */
}

.type-room-option option {
    padding: 10px;
    background-color: #fff;
    /* Nền của các option */
    color: #333;
}

.room-chat-name,
.room-chat-avatar {
    gap: 10px;
}

.room-chat-name label,
.room-chat-avatar label {
    font-size: 19px;
    font-weight: bold;
}

#name-chat {
    width: 100%;
    padding: 10px;
    border: none;
    outline: none;
    border-radius: 10px;
    font-size: 16px;
    background-color: #ebebeb;
}

.room-chat-avatar label {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.room-chat-avatar label img {
    width: 300px;
    height: 300px;
    margin: 0 auto;
    border-radius: 50%;
    border: 1px solid #aaa;
}

.btn-submit-create-room{
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    background-color: #007bff;
    color: white;
    font-weight: bold;
    border: none;
    outline: none;
    margin-top: 10px;
    font-size: 16px;
    cursor: pointer;
}