{% extends 'blog/base.html' %}
{% load static %}
{% block main-content %}
<div class="main-container">
    <div class="post shadow">
        <div class="header-post">
            <div class="avatar">
                <img src="https://yt3.ggpht.com/H_spDtAzuKhbWLEFZo66W5uHSG-uKY-Uhv5wCns_4jMNNi36cNz2xzmsBdcfx3mhzS3vKx_4=s48-c-k-c0x00ffffff-no-rj"
                    alt="avatar" />
            </div>
            <div class="post-info">
                <div class="author-name">
                    Đào Danh Đức
                </div>
                <div class="time-created">
                    10:20 28/08/2004
                </div>
            </div>
        </div>
        <div class="content-post">
           <div class="content">
            skmksmsmkmsls,ls,ls,ls,sl,l,ls,l,sl,sl,s,sl,sl
            mmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmm
           </div>
           <div>
            
           </div>
        </div>
        <div class="comment-post">
            <div>Comment</div>
        </div>
        <div class="btn-show-comment">
            Show comment
        </div>
    </div>
</div>
{% endblock main-content %}
