{% extends 'base.html' %}
{% load static %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'css/user/auth.css' %}">
{% endblock %}

{% block content %}
<div class="auth-container">

    <div class="auth-form">
        <h2>Đăng nhập</h2>
        <form method="post">
            {% csrf_token %}
            {% for field in form %}
                <div class="form-group">
                    {{ field.label_tag }}
                    {{ field }}
                    {% if field.errors %}
                        <div class="error-message">{{ field.errors|striptags }}</div>
                    {% endif %}
                </div>
            {% endfor %}
            <button type="submit" class="btn-submit">Đăng nhập</button>
        </form>
        <p class="auth-link">Chưa có tài khoản? <a href="{% url 'register' %}">Đăng ký ngay</a></p>
    </div>
</div>
{% endblock %}